<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Payment Rule/Process</title>
</head>
<body>
<div class="container">
    <h1>All payments rule....</h1>
    <%allPaymentProcess.map(paymentRule =>{%>
    <h3><%=paymentRule.ruleName%></h3>
    <%})%>
</div>

</body>
</html>